{% extends '@EasyAdmin/layout.html.twig' %}

{% block body_id 'regenerate-fixtures' %}

{% block main %}
    <h1 class="page-title">{{ 'admin.regenerate_fixtures.page_title'|trans }}</h1>

    <p class="description">{{ 'admin.regenerate_fixtures.description'|trans }}</p>

    <p class="description">{{ 'admin.regenerate_fixtures.description_bis'|trans|raw }}</p>

    <form method="post" action="{{ path('admin_regenerate_fixtures') }}">
        <button type="submit" class="btn btn-primary">{{ 'admin.regenerate_fixtures.submit_button'|trans|raw }}</button>
    </form>
{% endblock %}
